<div class="container">
  <div class="col-12">
    <div class="row">
      <mat-toolbar class="sys-sat-bckg">
        <div class="col-3">
          <span>Gerenciar Orçamentos</span>
        </div>
        <div class="col-2 ml-auto">
          <button routerLink="/registrar-orcamento" mat-button>Registrar orçamento</button>
        </div>
      </mat-toolbar>
    </div>
    <div class="row display-block">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filtros de Busca
            </mat-panel-title>
            <mat-panel-description>
              Busque por um orçamento através dos filtros
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="row">
            <div class="col-3">
              <mat-form-field>
                <input matInput placeholder="Nome do edifício">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <input matInput placeholder="Responsável do edifício">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <input [textMask]="{mask: dateMask}" matInput [matDatepicker]="picker" placeholder="Data do orçamento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3">
              <button class="align-right sys-sat-bckg" mat-raised-button>Buscar</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="row top-margin">
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>