.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .top-margin{
    margin-top: 1em !important;
  }

  .display-block{
    display: block !important;
  }