<div class=" basic-container">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mode.value">
      <button mat-button (click)="sidenav.toggle(); disableNavToggle(false)">
        <mat-icon>dehaze</mat-icon>
      </button>
      <p class="sidenav-p-logo">
        <img src="{{mainLogo}}" class="img-fluid logo" alt="SIMYSAT">
      </p>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Edifícios
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <button routerLink="/registrar-edificio" mat-button sidenav-button>Registrar</button>
            <button routerLink="/edificios" mat-button sidenav-button>Gerenciar</button>
          </div>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Funcionários
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <button routerLink="/registrar-funcionario" mat-button sidenav-button>Registrar</button>
            <button routerLink="/funcionarios" mat-button sidenav-button>Gerenciar</button>
          </div>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Orçamentos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <button routerLink="/registrar-orcamento" mat-button sidenav-button>Registrar</button>
            <button routerLink="/orcamentos" mat-button sidenav-button>Gerenciar</button>
          </div>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ordens de serviço
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <button routerLink="/registrar-ordem-servico" mat-button sidenav-button>Registrar</button>
            <button routerLink="/ordem-servicos" mat-button sidenav-button>Gerenciar</button>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="row zero-margin">
        <div class="col-sm-1">
          <button [hidden]="sidenavContentDisabled" mat-button (click)="sidenav.toggle(); disableNavToggle(true)">
            <mat-icon>dehaze</mat-icon>
          </button>

        </div>
        <div class="col-sm-1 ml-auto">
          <div class="align-right">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Perfil</button>
              <button mat-menu-item>Logout</button>
            </mat-menu>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>