@import 'src/app/scss/sys-sat.scss';


.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }
  
  .logo{
    height: 40px;
  }

  .mat-drawer{
    width: 18% !important;
    background-color: #214478 !important
  }

  .sidenav-p-logo{
    margin-top: 1em;
    margin-left: 1em;
  }

  .align-right{
    float: right !important;
  }

  .zero-margin{
    margin-right: 0px !important;
  }